* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    height: 100vh;
    width: 100vw;
  }

  #navbar{
    width:80vw;
    height:10vw;
    display:flex;
    position: fixed;
    top:0px;
    background-color:red;
    /* padding: auto; */
    margin:0 4em;
  }